// Example styles... go ahead and trash 'em.

$brand: #BA0C2F;

svg + svg {
    margin-top: 0em;
    margin-left: 1em;
}

nav {
    background-color: $brand;
    color: white;
    padding: 0.75em;
}

main {
    margin-left: 1em;
}

#root {
    animation: fadein 1s
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.blurb {
    border-left: solid 3px $brand;
    padding: 0.5em;
    padding-left: 1em;
}